.email_list {
  flex: 1;
  overflow: scroll;
}

.email_list_options {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.email_list_sections {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  border-bottom: 1px solid whitesmoke;
}
